{% extends "index.html" %}
{% block mid %} 

<form id="cartForm" method="post">
  <table class="table table-striped text-center">
    <th>선택</th>
    <th>상품이름</th>
    <th>가격</th>
    <th>수량</th>
    {% for product in products %}
    <tr>
      <td>
        <input name="{{product.idcarts}}" class="check form-check-input" type="checkbox" value="" onclick="btnOnOff(this)">
      </td>
      <td><a href="/products/{{product.idproducts}}">{{ product.name }}</a></td>
      <td class="price text-end">{{ product.price }}</td>
      <td class="text-end">
        <input id="qty{{product.idcarts}}" class="quantity" type="number" min="1" max="{{product.quantity}}" value="{{product.cartsQuantity }}" onclick="totalPrice()">
      </td>
    </tr>
    {% endfor %}
    <tr>
      <td></td>
      <td>주문한 총 금액</td>
      <td><label id="totalPrice"></label></td>
    </tr>
  </table>
  <button id='btnDelete' class="m-3 btn btn-danger" disabled onclick="del()">선택 삭제</button>
  <button id='btnOrder' class="m-3 btn btn-success" disabled onclick="order()">선택 주문</button>
</form>
<script>
  const cartForm = document.querySelector('#cartForm');
  
  const del = () => {
    cartForm.action = "/myPage/{{user.id}}/cartDelete";
  }

  const order = () => {
    cartForm.action = "/myPage/{{user.id}}/cartOrder";
  }

  
  
  let sum = 0;
  function btnOnOff(box){
    const qty = document.querySelector(`#qty${box.name}`);
    
    if(box.checked) {
      sum++;
      qty.name = `qty${box.name}`;
    } else {
      sum--;
      qty.name = '';
    } 
    
    if(sum > 0){
      document.querySelector('#btnDelete').disabled = false;
      document.querySelector('#btnOrder').disabled = false;
    } else {
      document.querySelector('#btnDelete').disabled = true;
      document.querySelector('#btnOrder').disabled = true;
    }
    totalPrice();
  }
  
  const totalPrice = () => {
    let priceNodes = document.querySelectorAll('.price');
    let quantNodes = document.querySelectorAll('.quantity');
    let checkNodes = document.querySelectorAll('.check');
    
    let total = 0;
    
    for(let i=0; i<priceNodes.length; i++)
      if(checkNodes[i].checked)
        total += (parseInt(priceNodes[i].innerHTML) * quantNodes[i].valueAsNumber);
    
    document.querySelector('#totalPrice').innerHTML = total;
  }

  window.addEventListener('DOMContentLoaded', totalPrice);

</script>

{% endblock %}
