{% extends "index.html" %}
{% block mid %} 

<form method="post" action="/myPage/{{user.id}}/cartDelete">
<table class="table table-striped text-center">
  <th>선택</th>
  <th>상품이름</th>
  <th>가격</th>
  <th>수량</th>
  {% for product in products %}
  <tr>
    <td>
      <input name="{{product.idcarts}}" class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
    </td>
    <td><a href="/products/{{product.idproducts}}">{{ product.name }}</a></td>
    <td class="text-end">{{ product.price }}</td>
    <td class="text-end"><input type="number" min="1" value="{{product.cartsQuantity }}"></td>
  </tr>
  {% endfor %}
</table>
<button class="m-3 btn btn-danger">선택 삭제</button>
</form>
<button class="m-3 btn btn-success">선택 주문</button>

{% endblock %}
